<div class="post_page">
	<div class="post">
	  <h3><%= @post.title %> by <%= @users[@post.author_id - 1].name%></h3>
	  <small class="comments_likes">
	    Comments: <%= @post.comments_counter || 0 %>, 
	    <span>Likes: <%= @post.likes_counter || 0 %></span>
	 </small>
	 <article>
	    <%= @post.text%>
	 </article>
	</div>
	<div class="post_comment">
	    <%= render partial: "partials/comment", locals: { comments: @comments } %>
	</div>

	<button><%= link_to "Add new comment", new_user_post_comment_path(@post.author, @post.id) %><button>
</div>
